/* Home.css */

/* Apply styles for smaller screens */
@media only screen and (max-width: 768px) {
    .text-style {
        font-size: 30px;
        /* Decrease font size for smaller screens */
        color: #FFFFFF;
        text-align: center;
        /* Center text horizontally */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Center the text vertically */
        align-items: center;
        /* Center the text horizontally */
        height: 100%;
        /* Ensure the container takes up the full height */
        word-wrap: break-word;
        /* Allow the text to wrap to the next line */
    }
}